# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# NestJS
dist/

# Environment files & secret keys (Strictly Ignored)
.env
.env.*
*.env
*.env.*
*.pem
*.key

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript / Build Cache
*.tsbuildinfo
*.log

# SQLite / Local DBs
*.db
*.db-journal
dev.db
