# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# NestJS
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript / Build Cache
*.tsbuildinfo
*.log
